.main, .iframe-div,.iframe {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 1400px;
  margin-left: -3px;
  margin-right: -3px;
  border: none;
}
@media  only screen and (max-width:991px) {
  .main, .iframe-div,.iframe {
    height: 1600px;
  }
}
