.sidebar {
  position: fixed;
  padding-top: 90px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  background-color: gray;
  z-index: 1;
  width: 310px;
  margin: 0;
}

.content-title {
  padding: 5px;
  font-family: fantasy;
  position: absolute;
  
  top: 90px;
  right: 0px;
  left: 0px;

  background-color: lightgray;
  font-size: 35px;
  height: 56px;
  justify-content: center;
}

.side-title {
  padding: 0px 0px 0px 0px;
  margin-top: 0px;
  margin-left: 10px;
}

.close-button {
  background-color: rgb(230, 0, 0);
  border-width: 0.5px;
  padding: 0px 5px 0px 5px;
  position: absolute;
  color: antiquewhite;
  font-size: 25px;
  height: 25px;
  width: 25px;

  top: 95px;
  right: 5px;
  z-index: 10;

}

.monthly-content {

  margin-top: 56px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  position: absolute;
  top: 100px;
  bottom: 90px;
  width: 310px;
  padding-top: 10px;
  padding-bottom: 10px;
}


.content{
  padding: 0px 0px 0px 0px;

  font-family: monospace;
  margin-top: 10px;
  border: none;
  display: flex;
  flex: 1;
  background-color: lightgray;

  height: 35px;

}

.content-button, .a {
  height: 100%;
  width: 100%;
  font-size: 25px;
  text-align: right;
}

footer {
  position: fixed;
  padding: 0px 0px 0px 50px;
  bottom: 0px;
  width: 260px;
  left: 0px;
  background-color: darkgray;
}

.address {
  padding: 10px 20px 0px 20px;
  height: 100px;
  width: 160px;
  background-color: aliceblue;
}


/*
.sidebar {
  position: absolute;
  left: 0px;
  bottom: 0px;
  top: 0px;
  width: 310px;
  z-index: 10;

  padding-top: 10px;
  background-color: lightgrey;
}



.monthly-content {

  transition: all .3s ease-out;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 100px;
  bottom: 90px;
  width: 310px;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer {
  position: fixed;
  padding: 0px 0px 0px 50px;
  bottom: 0px;
  width: 260px;
  left: 0px;
  background-color: darkgray;
}

.address {
  padding: 10px 20px 0px 20px;
  height: 100px;
  width: 160px;
  background-color: aliceblue;
}
